.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  justify-content: flex-start;
  font-size: 40px;
  padding-left: 40px;
}

.navbar {
  display: flex;
  padding: 20px;
}

.navbar__menu li {
  display: inline;
  list-style: none;
  padding: 0 20px 0 0;
  font-size: 18px;
}

.navbar__menu a {
  text-decoration: none;
  color: var(--text-primary);
}

.switch-button {
  border-radius: 8px;
  border: 2px solid gray;
}
