@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background: #f8fcda;
  --text-primary: black;
  --button-color: #e3e9c2;
}

[data-theme="dark"] {
  --background: #2c3333;
  --text-primary: #e7f6f2;
  --button-color: #a5c9ca;
}

body {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: var(--background);
}

.articles__container {
  padding: 40px 0;
}

.articles {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.title_primary {
  color: var(--text-primary);
  font-size: 40px;
  padding: 20px 0;
}

.subtitle {
  color: var(--text-primary);
  font-size: 30px;
  padding-bottom: 20px;
}

.search__input {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid gray;
  flex-grow: 1;
  padding-bottom: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.75em;
}

.submit__input {
  background-color: var(--background);
  background-image: url("https://cdn.rawgit.com/marcobiedermann/playground/master/ui/search/simple-search-bar/dist/assets/images/magnifier.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1.5em;
  order: -1;
  padding: 0.75em;
  text-indent: -999px;
  width: 3em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid gray;
}

.loader {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
